.App {
  font-family: sans-serif;
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 210px;
  border: 2px solid #000;
  padding: 10px;
  margin: 10px;
}

.product-img {
  width: 200px;
}

.page-number {
  border: 1px solid black;
  padding: 4px;
  margin: 4px;
  cursor: pointer;
}
